.signupContents
  .signupContents__area
    .signupContents__area--title 新規会員登録
    .formArea
      = form_with model: @user, url: user_registration_path, local: true do |f|
        .field.content
          = f.label :name
          %br/
          = f.text_field :name, class: "formDefault"
        .field.content
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "formDefault"
        .field.content
          = f.label :password
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
          %br/
          = f.password_field :password, autocomplete: "new-password", class: "formDefault"
        .field.content
          = f.label :password_confirmation
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password", class: "formDefault"
        .actions
          = f.submit "Sign up", class: "submitBtn"