.itemSubmitContents
  = form_with(model: @item, local: true, class: "formArea", id: "itemNew") do |f|
    .content
      .topic
        商品名
        %span.labelDanger 必須
      = f.text_field :name, class: "formDefault", placeholder: "30字まで"

    .content
      .topic
        商品の詳細
        %span.labelDanger 必須
      = f.text_area :detail, class: "formDefault formDetail", placeholder: "商品の説明"

    .content.imageArea
      .postArea
        .topic
          画像
          %span.labelDanger 必須
        .formImage
          %label{for: "imageFile"}
            #imageBox
              = icon('fa','camera', class: "photo-icon")
              = f.file_field :image, id: "imageFile"
      .preview
        - if @item.persisted?
          .preview__image
            = image_tag @item.image.url
            .preview__image--remove 削除する

    .content
      .topic
        貸し出し期間期間
        %span.labelDanger 必須
      .rentalPeriod
        .rentalPeriod--start
          .rentalPeriod--start__title
            開始日
          = f.date_select :rental_start, use_month_numbers: true, with_css_classes:'formDefault'
        .rentalPeriod--end
          .rentalPeriod--end__title
            終了日
          = f.date_select :rental_end, use_month_numbers: true, with_css_classes:'formDefault'

    .content
      .topic
        貸し出し場所の郵便番号
        %span.labelDanger 必須
      = f.number_field :postcode, class: "formDefault", placeholder: '例）1234567'

    .content
      .topic
        貸し出し場所の住所
        %span.labelDanger 必須
      = f.text_field :address_region, class: "formDefault", placeholder: '例）滋賀県大津市におの浜１丁目'

    .content
      .topic
        金額
        %span.labelDanger 必須
      = f.number_field :price, class: "formDefault", placeholder: '0'

    .submit
      = f.submit class: "submitBtn", id: "itemSubmit", value: "送信"