.itemShowContents
  .item
    .item__image

      - if @item.image?
        = image_tag @item.image.url, size: "500x500"
      - else
        = image_tag "default.png", size: "500x500"

    .item__table
      %table.table
        %tbody
        %tr
          %th.table__left 出品者
          %td.table__right
            = @item.user.name
          %tr
            %th.table__left 商品名
            %td.table__right
              = @item.name
          %tr
            %th.table__left 価格
            %td.table__right
              = @item.price
              %span<>
              円 (税込)
          %tr
            %th.table__left 詳細
            %td.table__right
              = @item.detail
          %tr
            %th.table__left レンタル開始日
            %td.table__right
              = @item.rental_start
          %tr
            %th.table__left レンタル終了日
            %td.table__right
              = @item.rental_end
          %tr
            %th.table__left レンタル場所の郵便番号
            %td.table__right
              = @item.postcode
          %tr
            %th.table__left レンタル場所の住所
            %td.table__right
              = @item.address_region
          %tr
            %th.table__left 貸出し状況
            %td.table__right
              = @item.trading_status

    -if @item.trading_status == "出品中"
      - if user_signed_in? && current_user.id == @item.user_id
        .item--option
          = link_to "編集する", edit_item_path(@item.id), method: :get, class: "item--option__edit"
          = link_to "削除する", item_path(@item.id), method: :delete, class: "item--option__delete"

      - elsif user_signed_in? && current_user.credit_card.blank?
        .item--buy
          = link_to "支払方法の登録", new_credit_card_path, class: "item--buy__btn" 
      - elsif user_signed_in?
        .item--buy
          = link_to "購入する", pay_item_path(@item.id), method: :post, class: "item--buy__btn"

    .item--comment
      - if current_user
        = form_with(model: [@item, @comment], local: true) do |f|
          = f.text_area :text, class: "item--comment__body", rows: "2"
          %p.item--comment__notice 
            貸し出し期限の交渉などができます
          = f.submit class: "item--comment__submit", value: "コメントする"
      - else
        ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
      .item--comment__area
        .topic ＜コメント一覧＞
        - if @comments
          - @comments.each do |comment|
            .comments
              .comments--contributor
                = comment.user.name
              .comments--content
                = comment.text
                .comments--content__time
                  = comment.created_at.strftime('%Y/%m/%d %H:%M:%S')