.itemShowContents
  .item
    .item__image
      - if @item.image?
        = image_tag @item.image.url, size: "500x500"
      - else
        = image_tag "default.png", size: "500x500"
    .item__table
      %table.table
        %tbody
        %tr
          %th.table__left 出品者
          %td.table__right
            = @item.user.name
          %tr
            %th.table__left 商品名
            %td.table__right
              = @item.name
          %tr
            %th.table__left 価格
            %td.table__right
              = @item.price
              %span<>
              円 (税込)
          %tr
            %th.table__left 詳細
            %td.table__right
              = @item.detail
          %tr
            %th.table__left レンタル期間
            %td.table__right
              = @item.rental_period
          %tr
            %th.table__left レンタル場所の郵便番号
            %td.table__right
              = @item.postcode
          %tr
            %th.table__left レンタル場所の住所
            %td.table__right
              = @item.address_region
          %tr
            %th.table__left 貸出し状況
            %td.table__right
              = @item.trading_status

    -if @item.trading_status == "出品中"
      - if user_signed_in? && current_user.id == @item.user_id
        .item-option
          = link_to "#", method: :delete, class: "item-option__delete" do
            商品を削除する
      - elsif user_signed_in? && current_user.id != @item.user_id
        .item-buy
          = link_to pay_item_path(@item.id),method: :post do
            購入する