.header-content
  .header
    .header__left
      = link_to root_path, class: "application-name" do
        Shareitem
    .header__right
      .right
        - if user_signed_in?
          .right__lend-item
            = link_to "出品する", new_item_path, class: "right__lend-item--link"
          .right__user-config
            = link_to "ユーザー管理", users_path, class: "right__user-config--link"
          .right__logout
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "right__logout--link"
        - else
          .right__login
            = link_to 'ログイン', new_user_session_path, class: "right__login--link"
          .right__signup
            = link_to '新規登録', new_user_registration_path, class: "right__signup--link"
              
